@import '../../generated/radix-colors.css';

:root {
	--text-xs: 0.8rem;
	--text-sm: 1rem;
	--text-md: 1.25rem;
	--text-lg: 1.563rem;
	--text-xl: 1.953rem;
	--text-2xl: 2.441rem;
	--text-3xl: 3.052rem;
	--text-4xl: 3.815rem;

	--tracking-tighter: -0.075em;
	--tracking-tight: -0.05em;
	--tracking-normal: -0.025em;
	--tracking-wide: 0em;
	--tracking-wider: 0.025em;
	--tracking-widest: 0.05em;
	--tracking-thiccc: 0.09em;

	--leading-squeeze: 0.8;
	--leading-none: 1;
	--leading-body: 2;
	--leading-heading: 1.125;

	--space-0: 0rem;
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 1.75rem;
	--space-8: 2rem;
	--space-9: 2.25rem;
	--space-10: 2.5rem;
	--space-11: 2.75rem;
	--space-12: 3rem;
	--space-13: 3.25rem;
	--space-14: 3.5rem;
	--space-15: 3.75rem;
	--space-16: 4rem;
	--space-17: 4.25rem;
	--space-18: 4.5rem;
	--space-19: 4.75rem;
	--space-20: 5rem;
	--space-21: 5.25rem;
	--space-22: 5.5rem;
	--space-23: 5.75rem;
	--space-24: 6rem;
	--space-25: 6.25rem;
	--space-26: 6.5rem;
	--space-27: 6.75rem;
	--space-28: 7rem;
	--space-29: 7.25rem;
	--space-30: 7.5rem;
	--space-31: 7.75rem;
	--space-32: 8rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

ol,
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

html {
	display: grid;
	height: 100%;
	background-color: var(--app-bg);
	color: var(--text);
	color-scheme: light dark;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

img,
video {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

:root,
[data-theme='VAPORWAVE'] {
	--app-bg: var(--indigo-dark-1);
	--text: var(--plum-dark-12);
	--color-surface: var(--indigo-dark-3);
	--color-text: var(--indigo-dark-12);
	--color-emphasis: var(--indigo-dark-11);
	--color-accent: var(--plum-dark-11);
	--brand-blue: var(--blue-9);
	--brand-purple: var(--purple-9);
}

[data-theme='EVA-02'] {
	--app-bg: var(--red-1);
	--text: var(--red-12);
	--color-surface: var(--indigo-3);
	--color-text: var(--indigo-12);
	--color-emphasis: var(--orange-10);
	--color-accent: var(--red-11);
	--brand-blue: var(--crimson-11);
	--brand-purple: var(--orange-9);
}

[lang='ja'] {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka,
		'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

::selection {
	background-color: var(--mauve-12);
	color: var(--purple-4);
}
