.container {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: auto minmax(32rem, 72rem) auto;
	grid-template-rows: min-content auto min-content;
}

.header {
	position: sticky;
	top: 0;
}

.center {
	padding: var(--space-4);
	grid-column: 2 / span 1;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.social ul {
	display: flex;
	font-size: var(--text-md);
	gap: var(--space-4);
}

.socialLink {
	display: inline-block;
	padding: var(--space-2) var(--space-3);
}

@media not all and (hover: none) {
	.socialLink:hover {
		color: var(--color-accent);
	}
}
