.container {
	display: grid;
	height: 100%;
	align-content: end;
	gap: var(--space-2);
}

@media screen and (min-width: 900px) {
	.container {
		gap: var(--space-4);
		grid-auto-flow: column;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		gap: var(--space-8);
	}
}

.intro {
	width: 100%;
	max-width: 32ch;
	min-height: 100%;
}

.heading {
	color: var(--color-accent);
	font-size: var(--text-2xl);
	font-weight: 800;
	letter-spacing: var(--tracking-normal);
	line-height: var(--leading-none);
	padding-block-end: var(--space-4);
	white-space: pre;
}

.heading::first-line {
	font-size: var(--text-xl);
}

.intro :global(p) {
	margin-bottom: var(--space-4);
	font-size: var(--text-sm);
	font-weight: 300;
	line-height: var(--leading-body);
}

.intro :global(p):last-of-type {
	margin-bottom: var(--space-0);
}

.intro :global(strong) {
	color: var(--color-emphasis);
}

@media screen and (min-width: 480px) {
	.content {
		gap: var(--space-16);
	}

	.heading {
		font-size: var(--text-4xl);
		font-weight: 800;
	}

	.heading::first-line {
		font-size: var(--text-2xl);
	}

	.intro :global(p) {
		font-size: var(--text-md);
		font-weight: 200;
	}

	.intro {
		max-width: 48ch;
	}
}

.posts {
	display: flex;
	flex-flow: column;
	gap: var(--space-8);
	padding-block-start: var(--space-29);
}

.post {
	display: flex;
	flex-flow: column;
}

.postLink {
	display: contents;
}

.postTitle {
	color: var(--color-accent);
	font-size: var(--text-lg);
	font-weight: 900;
}

.postDate {
	color: var(--color-emphasis);
	font-size: var(--text-xs);
	font-weight: 300;
}

.postDescription {
	font-size: var(--text-sm);
	margin-block-start: var(--space-2);
}
